<?xml version="1.0" encoding="utf-8"?>
<manifest package="orz.kassy.aceantplusextension"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>

        <service
            android:name=".AntPlusHeartRateService"
            android:enabled="true"
            android:exported="true"
            android:label="Ant+から取得">
            <intent-filter>
                <action android:name="com.eaglesakura.andriders.ACTION_ACE_EXTENSION_BIND_V3"/>
            </intent-filter>
        </service>
        <service
            android:name=".AntPlusCadenceService"
            android:enabled="true"
            android:exported="true"
            android:label="Ant+から取得">
            <intent-filter>
                <action android:name="com.eaglesakura.andriders.ACTION_ACE_EXTENSION_BIND_V3"/>
            </intent-filter>
        </service>

        <activity android:name=".antplus.Activity_BikeSpeedDistanceSampler"/>
        <activity android:name=".antplus.Activity_BikeCadenceSampler"/>
        <activity android:name=".antplus.Activity_HeartRateDisplay"/>
        <activity android:name=".antplus.Activity_MultiDeviceFilter"/>
        <activity android:name=".antplus.Activity_MultiDeviceSearchSampler"/>

        <service
            android:name=".antplus.HeartrateTestService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".DeviceSetActivity"
            android:label="Ant+デバイス設定">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DeviceSearchActivity"
            android:label="Ant+デバイス検索"/>

    </application>

</manifest>